:root {
    --primary: 222.2 47.4% 11.2%;
    --border: 240 5.9% 90%;
}

* {
    box-sizing: border-box;
    font-size: 4rem;
}

html {
    font-size: 4px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    display: flex;
    align-items: center;
}

.w-full {
    width: 100%;
}
.mt-4 {
    margin-top: 4rem;
}

button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
}
.card-body button {
    width: 100%;
}

#app {
    max-width: 800px;
    min-width: 320px;
    margin: 0 auto;
    padding: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

nav h1 {
    text-transform: uppercase;
}

.separator {
    width: 100%;
    height: 1px;
    margin: 4rem 0;
    background-color: hsl(var(--border));
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid hsl(var(--border));
    border-radius: 0.5rem;
}

.tooltip {
    position: relative;
}
.tooltip-text {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 1rem;
    background-color: hsl(var(--primary));
    color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.tooltip:hover .tooltip-text {
    display: block;
}