on: 
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Zip
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install
        shell: bash

      - name: Build project
        run: npm run build
        shell: bash

      - name: Deploy to Production
        run: echo "Deploying to production server..."
        shell: bash
