on: 
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build and Zip
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ./github/composite

      - name: Zip dist folder
        run: zip -r release.zip dist
        shell: bash
