name: CI

on:
  pull_request:
    branches:
      - main
      - test
      - dev

jobs:
  lint:
    name: Oxlint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/composite