name: Deploy Dev

on:
  push:
    branches:
      - dev

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/composite

      - name: Zip dist folder
        run: |
          cd dist
          zip -r ../dev-release.zip .
          cd ..
        shell: bash

      - name: Upload Zip Artifact
        uses: actions/upload-artifact@v4
        with:
          name: dev-release
          path: dev-release.zip

      - name: Cleanup Existed Dev Release and Tag
        run: |
          gh release delete dev-build -y || echo "No existing release to delete"
          git tag -d dev-build || echo "No existing tag to delete"
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create release
        run: |
          gh release create dev-build dev-release.zip \
            --title "Dev Build" \
            --prerelease \
            --notes "Automated dev build from commit ${{ github.sha }}"
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}