name: Deploy Dev

on:
  push:
    branches:
      - dev

env:
  BUILD_ENV: dev

permissions:
  contents: write

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v5

      - uses: ./.github/composite

      - uses: ./.github/actions/release
        with:
          build-env: ${{ env.BUILD_ENV }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-sha: ${{ github.sha }}
