name: Deploy Test

on:
  workflow_dispatch:

env:
  BUILD_ENV: test

permissions:
  contents: write

jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - uses: actions/checkout@v5
        with:
          ref: dev

      - uses: ./.github/composite

      - uses: ./.github/actions/release
        with:
          build-env: ${{ env.BUILD_ENV }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          commit-sha: ${{ github.sha }}
